<div class="sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-auto">
            <%= render_services_table(day, company_schedules, company_services, 
                                      "change->checkbox-option#renderContentById", company_path) %>
        </div>
    </div>
</div>