<div data-controller="checkbox-option">
  <div>
    <%= render partial: "companies/edit/service_schedule", locals: { company:           @company, 
                                                                     week:              @week, 
                                                                     company_schedules: @company_schedules, 
                                                                     company_services:  @company_services } %>
  </div>
</div>